@using Domain.Entities;
@model IEnumerable<Book>
@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>Way2Lib (Beta)</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Way2 Library_ (Beta)</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" })) {
                    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Título, descrição ou autores" aria-label="Search">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Pesquisar</button>
                }
            </div>
        </nav>
        <ul class="list-group">
            @foreach (var item in Model) {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xl-2 col-md-4">
                            <img src="@item.ImageUrl" style="max-width:160px; max-height: 245px" />
                        </div>
                        <div class="col">
                            <a href="@Url.Action("Details", "Book", new { Id = item.Id })"><strong>@item.Title</strong></a>
                            @if (item.PublicationDate.Year > 1) {
                                <span>(@item.PublicationDate.Year)</span>
                            }
                            <a href="@Url.Action("Edit", "Book", new { Id = item.Id })">Edit</a>
                            <p><i>@item.Authors</i></p>
                            <p style="text-align: justify">@item.Description</p>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</body>
</html>