@using Api.Models.Util;
@{
    Layout = null;
}
@model Domain.Responses.BookResponse
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Way2 Library_ - Detalhes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
</body>
</html>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Way2_Library (Beta)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Featured</a>
                </li>
            </ul>
            @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" })) {
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Título, descrição ou autores" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
            }
        </div>
    </nav>
    <div class="col">
        <h2>
            @Model.Title
        @if (!String.IsNullOrWhiteSpace(Model.Language)) {
            <small>(@Model.Language)</small>
        }
    </h2>
    <h3><small class="text-muted">@String.Join(',', Model.Authors ?? new string[0])</small></h3>
</div>
<div class="row">
    <div class="col-md-3">
        <div class=" d-flex justify-content-center" style="margin-bottom: 20px">
            <img src="@Model.ImageUrl" style="height: 300px" />
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: @Model.Rating%;" aria-valuenow="@Model.Rating" aria-valuemin="0" aria-valuemax="100">@Model.Rating%</div>
        </div>
        <div class=" d-flex justify-content-center">
            <small>@Model.RatingCount reviews (Goodreads)</small>
        </div>
    </div>
    <div class="col-md-9">
        <p style="text-align: justify">@Model.Description</p>

        <h4>Detalhes:</h4>
        <dl class="row">
            <dt class="col-sm-2">Publicação</dt>
            <dd class="col-sm-10">@Model.PublicationDate.ToString("dd/MM/yyyy")</dd>

            <dt class="col-sm-2">ISBN</dt>
            <dd class="col-sm-10">@Model.ISBN</dd>

            <dt class="col-sm-2">Editora</dt>
            <dd class="col-sm-10">@Model.Publisher</dd>

            <dt class="col-sm-2">Páginas</dt>
            <dd class="col-sm-10">@Model.NumberOfPages</dd>

            <dt class="col-sm-2">Categorias</dt>
            <dd class="col-sm-10">@String.Join(',', Model.Categories.Select(category => CategoryLocalization.Translate(category)))</dd>
        </dl>
    </div>
</div>
</div>